// Responsive
// ------------------------------------------------
$responsive: true !default


// Cross browser support settings
// ------------------------------------------------
$lt-ie9: false !default
$legacy-support-for-ie6: false
$legacy-support-for-ie7: $lt-ie9
$legacy-support-for-ie8: $lt-ie9


// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 16px
$base-line-height: 24px
$round-to-nearest-half-line: true


// Colour palette
// ------------------------------------------------
$blue: #0066ff
$white: #ffffff
$yellow-light: #fdfc8f


// Font stacks
// ------------------------------------------------
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif
