<h1>Middleman Starter</h1>

<div>
  <div class="example-module">
    <p>Ain't nothin' but a starter project template for the <a href="http://middlemanapp.com/">Middleman static site generator</a> that steals heavily from <a href="https://github.com/nathos/amicus">Nathan Henderson's Amicus</a> and <a href="https://github.com/bensmithett/style">Ben Smithett's Style</a>.</p>
  </div>

  <div class="example-module">
    <p>It's for people who prefer ERB to Haml, and who like <a href="http://bem.info/">BEM</a>, <a href="http://smacss.com/">SMACSS</a>, <a href="http://sass-lang.com/">Sass</a>, and <a href="http://susy.oddbird.net/">Susy</a>.
  </div>
</div>
